<form action='{{ .Get "action" }}' class='p-5 lg:p-10 bg-glass rounded-xl space-y-10 {{ if .Get "width" }}{{ .Get "width" }}{{ else }}md:w-1/2 lg:w-3/4{{ end }} mx-auto'>
    <div class="hidden">
            {{ partial "components/label.html" (dict "label" "Leave this field empty" "for" "hp") }}
            {{ partial "components/input.html" (dict "type" "text" "id" "hp" "auto_off" "true" "class" "mt-3") }}
    </div>
    {{ partial "components/input.html" (dict "type" "hidden" "id" "utm_source") }}
    {{ partial "components/input.html" (dict "type" "hidden" "id" "utm_source") }}
    {{ partial "components/input.html" (dict "type" "hidden" "id" "utm_source") }}
    {{ partial "components/input.html" (dict "type" "hidden" "id" "utm_source") }}
    {{ partial "components/input.html" (dict "type" "hidden" "id" "utm_content") }}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
        <div>
            {{ partial "components/label.html" (dict "label" "Full name" "for" "name") }}
            {{ partial "components/input.html" (dict "type" "text" "placeholder" "Enter full name" "id" "name" "required" "true" "class" "mt-3") }}
        </div>
        <div>
            {{ partial "components/label.html" (dict "label" "Your email" "for" "email") }}
            {{ partial "components/input.html" (dict "type" "email" "placeholder" "Enter your email" "id" "email" "required" "true" "class" "mt-3") }}
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
        <div>
            {{ partial "components/label.html" (dict "label" "Your company" "for" "company") }}
            {{ partial "components/input.html" (dict "type" "text" "placeholder" "Your company" "id" "company" "class" "mt-3") }}
        </div>
        <div>
            {{ partial "components/label.html" (dict "label" "Your role" "for" "role") }}
            {{ partial "components/input.html" (dict "type" "text" "placeholder" "Enter your role in company" "id" "role" "class" "mt-3") }}
        </div>
    </div>
    <div>
        {{ partial "components/label.html" (dict "label" "Your message" "for" "message") }}
        {{ partial "components/input.html" (dict "type" "textarea" "placeholder" "Enter your message..." "id" "message" "class" "mt-3" "rows" "7") }}
    </div>
    <div class="flex gap-3">
        <div>
            {{ partial "components/input.html" (dict "type" "checkbox" "id" "consent" ) }}
        </div>
        {{ partial "components/label.html" (dict "label" "I agree to <a href='/privacy-policy/'>Terms & Conditions</a>" "for" "consent") }}
    </div>
    <div>
        {{ partial "components/button.html" (dict "label" "Join the waitlist" "class" "w-full") }}
    </div>
</form>