{{ if eq .isLink "true" }}
<a href="{{ .url }}" class="{{ .class }} inline-flex justify-center items-center text-primary-light font-primary bg-glass border-0 font-medium rounded-xl text-sm px-4 lg:px-5 min-h-10.5 min-w-[140px]">{{ .label }}</a>
{{ else }}
<button {{ with .type }}type="{{ . }}"{{ end }} class="{{ .class }} cursor-pointer inline-flex justify-center items-center text-primary-light font-primary bg-glass border-0 font-medium rounded-xl text-sm px-4 lg:px-5 min-h-10.5 min-w-[140px]">{{ .label }}</button>
{{ end }}