<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

{{/*  page title  */}}
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

{{/*  custom font  */}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">

{{/*  favicon  */}}
<link rel="shortcut icon" href="{{ site.Params.favicon | relURL }}" type="image/x-icon">

{{/*  styles  */}}
{{ with (templates.Defer (dict "key" "global")) }}
{{ partial "head/css.html" . }}
{{ end }}
{{ partialCached "head/js.html" . }}